In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/ibk주가통합본none값제거01표시불용어처리제목.csv')

In [0]:
data

         datetime  ... up/down
0      2019-04-18  ...       0
1      2019-04-18  ...       0
2      2019-04-18  ...       0
3      2019-04-18  ...       0
4      2019-04-18  ...       0
...           ...  ...     ...
11995  2010-05-06  ...       0
11996  2010-04-26  ...       1
11997  2010-04-23  ...       0
11998  2010-04-22  ...       0
11999  2010-04-19  ...       0

[12000 rows x 5 columns]

In [0]:
# # date=data['datetime']
# data['datetime'] = data['date'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  12000 non-null  datetime64[ns]
 1   date      12000 non-null  object
 2   headline  12000 non-null  object
 3   content   12000 non-null  object
 4   up/down   12000 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 468.9+ KB

In [0]:
data.set_index(data['datetime'], inplace=True)

In [0]:
train=data.loc['2018-12-28':]

In [0]:
train

              datetime  ... up/down
datetime                ...
2018-12-27  2018-12-27  ...       0
2018-12-27  2018-12-27  ...       0
2018-12-27  2018-12-27  ...       0
2018-12-27  2018-12-27  ...       0
2018-12-27  2018-12-27  ...       0
...                ...  ...     ...
2010-05-06  2010-05-06  ...       0
2010-04-26  2010-04-26  ...       1
2010-04-23  2010-04-23  ...       0
2010-04-22  2010-04-22  ...       0
2010-04-19  2010-04-19  ...       0

[11205 rows x 5 columns]

In [0]:
train = pd.DataFrame(train)
train.to_csv('/content/drive/My Drive/Colab Notebooks/data/train_final.csv', encoding='utf-8')

In [0]:
test=data.loc[:'2018-12-28']

In [0]:
test

              datetime  ... up/down
datetime                ...
2019-04-18  2019-04-18  ...       0
2019-04-18  2019-04-18  ...       0
2019-04-18  2019-04-18  ...       0
2019-04-18  2019-04-18  ...       0
2019-04-18  2019-04-18  ...       0
...                ...  ...     ...
2019-01-02  2019-01-02  ...       0
2019-01-02  2019-01-02  ...       0
2019-01-02  2019-01-02  ...       0
2019-01-02  2019-01-02  ...       0
2019-01-02  2019-01-02  ...       0

[795 rows x 5 columns]

In [0]:
test = pd.DataFrame(test)
test.to_csv('/content/drive/My Drive/Colab Notebooks/data/test_final.csv', encoding='utf-8')

In [0]:
test=data.loc[:'2018-12-28']

In [0]:
test

        datetime  ... up/down
0     2019-04-18  ...       0
1     2019-04-18  ...       0
2     2019-04-18  ...       0
3     2019-04-18  ...       0
4     2019-04-18  ...       0
...          ...  ...     ...
2014  2018-06-29  ...       1
2015  2018-06-29  ...       1
2016  2018-06-29  ...       1
2017  2018-06-29  ...       1
2018  2018-06-29  ...       1

[2019 rows x 5 columns]

In [0]:
train[['headline', 'content', 'up/down']]

                                        headline  ... up/down
datetime                                          ...
2018-12-27      불안할 땐 금이 최고?… 금펀드 3개월 수익 4.7% 선방  ...       0
2018-12-27        "내년 코스피 1900~2400…버팀목은 건설·IT株"  ...       0
2018-12-27            [단독] GIC, 한국 주거용 부동산에 첫 투자  ...       0
2018-12-27  OLED TV로 브랜드 가치 ↑…프리미엄·스마트 家電 확대가 기회  ...       0
2018-12-27               "함께 갑시다" 포용 금융 발 맞추는 은행  ...       0
...                                          ...  ...     ...
2010-05-06          인사이드 스포츠 / 여자배구, 6구단이냐 4구단이냐  ...       0
2010-04-26                                   새상품  ...       1
2010-04-23                          IT 봄바람은 계속된다  ...       0
2010-04-22                          IT 봄바람은 계속된다  ...       0
2010-04-19                 “자전거로 출퇴근하면 금리 더 드려요”  ...       0

[11205 rows x 3 columns]

In [0]:
train = pd.DataFrame(train)
train.to_csv('/content/drive/My Drive/Colab Notebooks/data/train_final.csv', encoding='utf-8')

In [0]:
train=train[['headline', 'up/down']]

In [0]:
train = pd.DataFrame(train)
train.to_csv('/content/drive/My Drive/Colab Notebooks/data/train_sum_ibk.csv', encoding='utf-8')

In [0]:
test=data.loc[:'2018-12-28']

In [0]:
test[['headline', 'content', 'up/down']]

                                                  headline  ... up/down
datetime                                                    ...
2019-04-18                   와그트래블, 135억원 자금 확보…글로벌 공략 나선다  ...       0
2019-04-18                  기업은행, 인도 IIT 경영전문대학과 인재양성 업무협약  ...       0
2019-04-18               기업은행, 인도 IIT 경영전문대학과 인재양성 업무협약 체결  ...       0
2019-04-18     [시장을 이겨라] "반등하는 4월 장… 美 재무부 환율보고서·기업 실적 주목"  ...       0
2019-04-18            미래에셋자산운용, 단기채권 투자·주식 페어트레이딩 ‘쌍끌이 전략’  ...       0
...                                                    ...  ...     ...
2019-01-02                   김도진 기업은행장 "소상공인·자영업자의 동반자 돼야"  ...       0
2019-01-02  [신년사] 김영규 IBK투자증권 사장 "中企와 더불어 성장하는 정책금융 리더 목표"  ...       0
2019-01-02               [신년사]김도진 기업은행장 "소상공인·자영업자 동반자 돼야"  ...       0
2019-01-02              [Hot-Line] "모헤닉게라지스, 내년 IPO 추진 예상"  ...       0
2019-01-02                          롯데정보통신, 확실한 성장세…관건은 속도  ...       0

[795 rows x 3 columns]

In [0]:
test = pd.DataFrame(test)
test.to_csv('/content/drive/My Drive/Colab Notebooks/data/test_final.csv', encoding='utf-8')

In [0]:
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/test_final.csv')

In [0]:
data

       datetime  ... up/down
0    2019-04-18  ...       0
1    2019-04-18  ...       0
2    2019-04-18  ...       0
3    2019-04-18  ...       0
4    2019-04-18  ...       0
..          ...  ...     ...
790  2019-01-02  ...       0
791  2019-01-02  ...       0
792  2019-01-02  ...       0
793  2019-01-02  ...       0
794  2019-01-02  ...       0

[795 rows x 6 columns]

In [0]:
test = pd.DataFrame(test)
test.to_csv('/content/drive/My Drive/Colab Notebooks/data/test_sum_ibk.csv', encoding='utf-8')

In [0]:
train=data[['headline', 'content','up/down']]

In [0]:
train = pd.DataFrame(train)
train.to_csv('/content/drive/My Drive/Colab Notebooks/data/train_ibk_title.csv', encoding='utf-8')

In [0]:
pwd

'/content'

In [0]:
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/train_ibk_title - train_ibk_title.csv')

In [0]:
data

                                          headline  up/down
0                    와그트래블, 135억원 자금 확보…글로벌 공략 나선다        0
1                   기업은행, 인도 IIT 경영전문대학과 인재양성 업무협약        0
2                기업은행, 인도 IIT 경영전문대학과 인재양성 업무협약 체결        0
3      [시장을 이겨라] "반등하는 4월 장… 美 재무부 환율보고서·기업 실적 주목"        0
4             미래에셋자산운용, 단기채권 투자·주식 페어트레이딩 ‘쌍끌이 전략’        0
...                                            ...      ...
11995                 인사이드 스포츠 / 여자배구, 6구단이냐 4구단이냐        0
11996                                          새상품        1
11997                                 IT 봄바람은 계속된다        0
11998                                 IT 봄바람은 계속된다        0
11999                        “자전거로 출퇴근하면 금리 더 드려요”        0

[12000 rows x 2 columns]